#wrapper {
  margin: 0 auto;
  display: block;
  max-width: 500px;
}
.chart {
  width: 100%;
  height: 100%;
  min-height: 600px;
  margin: 0 auto;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0;
  color: rgb(80,80,80);
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center;
}
.axis path,
.axis line {
  fill: none;
  stroke: rgb(197,197,197);
  shape-rendering: crispEdges;
}
.axis text {
  fill: rgb(69,69,69);
}
.axis text {
  font-size: 1rem;
}
rect {
  stroke: white;
  stroke-width: 1px;
}
.legend {
  margin-left: 0.3rem;
  font-size: .8rem;
  line-height: 1.3em;
}
.legend-color {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 3px;
  border-radius: 50%;
}
.green {
  background-color: #41AB5D;
}
.yellow {
  background-color: #FEC44F;
}
.purple {
  background-color: #9E9AC8;
}
.y.axis g.tick:nth-child(odd) {
  text {
    fill: rgb(100,100,100);
  }
}
@media (max-width: 590px){
  .x.axis g.tick:nth-child(odd) {
    display: none;
  }
}
